<%- include('partials/header.ejs') %>

    <div>
        <p>All users:</p>
        <ul>
            <% users.forEach( user => { %>
                <li><%= user.firstName %></li>
            <% }) %>
        </ul>
    </div>

<%- include('partials/footer.ejs') %>