<%- include('partials/header.ejs') %>

<style>
    input:focus {
        border-color: rgba(82, 168, 236, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
        outline: 0 none;
        padding: 0.5rem;
        border-radius: 4px;
    }
</style>

<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-7">
                    <form action="" class="box content" method="post">
                        <div class="field has-text-centered">
                            <img src="/kuvat/DjangoKauppa_Logo_400.png" width="167">
                        </div>

                        <p>
                            <label for="id_username">Käyttäjätunnus:</label><br>
                            <input class="input <% if (errors.username) { %>is-danger<% } %>" type="text" name="username" maxlength="150" autofocus required id="id_username" value="<%= lomake.username %>">
                            
                            <br><small style="color: grey">Vaaditaan. Enintään 150 merkkiä. Vain kirjaimet, numerot ja @/./+/-/_ ovat sallittuja.</small>                        </p>
                            <% if (errors.username) { errors.username.forEach(error => { %>
                                <p class="has-text-danger"><%= error %></p>
                            <% }); } %>
                        <p>
                            <label for="id_first_name">Etunimi:</label><br>
                            <input class="input <% if (errors.first_name) { %>is-danger<% } %>" type="text" name="first_name" maxlength="30" id="id_first_name" value="<%= lomake.first_name %>">
                            
                            <br><small style="color: grey">Etunimi</small>
                            <% if (errors.first_name) { errors.first_name.forEach(error => { %>
                                <p class="has-text-danger"><%= error %></p>
                            <% }); } %>
                        </p>
                        
                        <p>
                            <label for="id_last_name">Sukunimi:</label><br>
                            <input class="input <% if (errors.last_name) { %>is-danger<% } %>" type="text" name="last_name" maxlength="30" id="id_last_name" value="<%= lomake.last_name %>">
                            
                            <br><small style="color: grey">Sukunimi</small>
                            <% if (errors.last_name) { errors.last_name.forEach(error => { %>
                                <p class="has-text-danger"><%= error %></p>
                            <% }); } %>
                        </p>
                        
                        <p>
                            <label for="id_email">Sähköposti:</label><br>
                            <input class="input <% if (errors.email) { %>is-danger<% } %>" type="email" name="email" maxlength="254" required id="id_email" value="<%= lomake.email %>">
                            
                            <br><small style="color: grey">Laita oikea sähköpostiosoittetta</small>
                            <% if (errors.email) { errors.email.forEach(error => { %>
                                <p class="has-text-danger"><%= error %></p>
                            <% }); } %>
                        </p>
                        
                        <p>
                            <label for="id_password1">Salasana:</label><br>
                            <input class="input <% if (errors.password1) { %>is-danger<% } %>" type="password" name="password1" autocomplete="new-password" required id="id_password1">
                            
                            <br><small style="color: grey"><ul><li>Salasanasi ei voi olla liian samankaltainen muiden tietojesi kanssa.</li><li>Salasanasi tulee sisältää ainakin 8 merkkiä.</li><li>Salasanasi ei voi olla yleisesti käytetty salasana.</li><li>Salasanasi ei voi olla kokonaan numeerinen.</li></ul></small>
                            <% if (errors.password1) { errors.password1.forEach(error => { %>
                                <p class="has-text-danger"><%= error %></p>
                            <% }); } %>
                        </p>
                        
                        <p>
                            <label for="id_password2">Salasanan vahvistaminen:</label><br>
                            <input class="input <% if (errors.password1) { %>is-danger<% } %>" type="password" name="password2" autocomplete="new-password" required id="id_password2">
                            
                            <br><small style="color: grey">Syötä sama salasana tarkistuksen vuoksi toistamiseen.</small>
                        </p>

                        <div class="field">
                            <button class="button is-success">Rekisteröi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include('partials/footer.ejs') %>