<%- include('partials/header.ejs') %>

    <div class="container block">
        <figure class="image is-2by1 block">
            <img src="kuvat/online_store.jpg" alt="">
        </figure>
        <section class="content is-size-5">
            <h1 class="title block">Asiakasrekisterin tietosuojaseloste</h1>
            <h2 id="yleista-tietosuojaselosteesta">Yleistä</h2>
            <p><a href="http://www.verkkokauppa.com.fi" rel="noopener noreferrer" target="_blank">Verkkokauppa</a> on
                sitoutunut suojaamaan asiakkaidensa yksityisyyttä ja tarjoaa mahdollisuuden vaikuttaa tietojen käsittelyyn.
            </p>
            <p>Tällä tietosuojaselosteella informoimme asiakkaitamme heidän henkilötietojensa käsittelystä. Asiakkaan on
                hyväksyttävä tämän tietosuojaselosteen ehdot käyttääkseen Verkkokauppan palveluita.</p>
            <p>Keräämämme tiedot voidaan jakaa käyttäjän antamiin, verkkopalveluiden käytöstä havannoituihin sekä
                analytiikan avulla johdettuihin tietoihin.<br>Käytämme tietoja:</p>
            <ul>
                <li>Helppokäyttöisen ja turvallisen palvelun toimittamiseen</li>
                <li>Hyvän asiakaskokemuksen tarjoamiseen</li>
                <li>Asiakaspalvelun ja verkkokaupan kehittämiseen</li>
            </ul>

            <h2 id="rekisterinpitaja-ja-sen-yhteystiedot">Rekisterinpitäjä ja sen yhteystiedot</h2>
            <p>Käsiteltävien henkilötietojen rekisterinpitäjänä toimii:</p>
            <p><a href="http://www.verkkokauppa.com.fi" rel="noopener noreferrer" target="_blank">Verkkokauppa Oy</a>
                (Y-tunnus: 7948492-1)<br>Tietokoneentie 15<br>00686 Espoo<br></p>
            <p>Tietosuojasta ja henkilötietojen käsittelystä voit kysyä lisää sähköpostilla:<br><a
                    href="mailto:tietosuoja@verkkokauppa.com.fi">tietosuoja@verkkokauppa.com.fi</a></p>

            <h2 id="mita-tietoja-minusta-voidaan-kerata">Mitä tietoja minusta voidaan kerätä?</h2>
            <ul>
                <li>Käyttäjän itsensä antamat tai henkilön tunnistavat tiedot</li>
                <ul>
                    <li>Tunnistamistiedot, kuten nimi</li>
                    <li>Yhteystiedot, kuten osoite, sähköpostiosoite ja puhelinnumero</li>
                    <li>Maksutiedot, mukaan lukien luottosopimukset ja muut laskutustiedot</li>
                </ul>
                <li>Palvelujen käytöstä havainnoidut ja analytiikan avulla johdetut tiedot</li>
                <ul>
                    <li>Toimitustiedot, kuten valittu toimitustapa ja toimitusosoite</li>
                    <li>Verkkokaupan käyttö- ja selaustiedot sekä päätelaitteen tunnistetiedot</li>
                </ul>
            </ul>
            <p>Tunniste-, yhteys- ja maksutietojen antaminen on pakollista ostaessasi Verkkokauppa.comista Internetin
                kautta.
            </p>
            <p>Tietojen pääasiallinen lähde on käyttäjä itse.</p>

            <h2 id="mihin-henkilotietojani-kaytetaan">Mihin henkilötietojani käytetään?</h2>
            <p>Henkilötietoja käytetään</p>
            <ul>
                <li>Asiakkuuden ylläpitämiseen</li>
                <li>Tilausten toimitukseen, käsittelyyn ja arkistointiin</li>
                <li>Verkkokauppan toiminnan ja palveluiden kehittämiseen</li>
                <li>Asiakaskokemuksen parantamiseen</li>
                <li>Analytiikkaan ja tilastollisiin tarkoituksiin</li>
                <li>Henkilökohtaisemman kohdennetun sisällön ja markkinoinnin tuottamiseen</li>
                <li>Väärinkäytösten estämiseen</li>
                <li>Paremman asiakaspalvelun tarjoamiseen</li>
            </ul>
            <p>Tietoja käsitellään asiakkaan ja Verkkokauppan väliseen asiakassuhteeseen, sopimukseen, sivuston käyttöön,
                asiakkaan erilliseen nimenomaiseen suostumukseen tai lainsäädännön velvoitteisiin perustuen.</p>

            <h2 id="miten-tietojani-sailytetaan-ja-suojataan">Miten tietojani säilytetään ja suojataan?</h2>
            <p>Kaikki henkilötiedot ovat suojattu asiattomalta pääsyltä ja vahingossa tai laittomasti tapahtuvalta tietojen
                hävittämiseltä, muuttamiselta, luovuttamiselta, siirtämiseltä tai muulta laittomalta käsittelemiseltä.</p>
            <p><a href="http://www.verkkokauppa.com.fi" rel="noopener noreferrer" target="_blank">Verkkokauppa</a> säilyttää
                asiakastietoja Suomessa. Konesalit ja kaupan järjestelmien tekninen sekä prosessien tietoturva ovat erittäin
                korkealla tasolla. Yrityksessä on käytössä ISO 27001:een pohjautuva tietoturvan hallintajärjestelmä.
                Palvelimet on suojattu tietomurtoja ja palvelunestohyökkäyksiä vastaan.</p>
            <p>Henkilötietojen käsittelyssä ja teknisissä ratkaisuissa noudatamme hyviä tietosuojakäytäntöjä mm. tiedon
                konsolidointi, minimointi, pseudonymisointi, anonymisointi ja enkryptaus. Henkilötietojen käsittelyssä on
                huomioitu 25.5.2018 alkaen sovellettavan EU:n tietosuoja-asetuksen vaatimukset.</p>
            <p>Kaikkea pääsyä henkilötietoon valvotaan hyvien käytäntöjen mukaisesti.</p>

            <h2 id="kuka-kasittelee-henkilotietojani">Kuka käsittelee henkilötietojani?</h2>
            <p>Asiakastietoihin on pääsy vain Verkkokauppan omilla työntekijöillä ja henkilökuntamme on koulutettu
                käyttämään tietoja turvallisesti ja eettisesti. Kukin henkilökunnastamme näkee asiakastietoja vain niiltä
                osin kuin se on työtehtävien suorittamiselle välttämätöntä.</p>
            <p>Käytämme luotettuja sopimuskumppaneita, jolloin tietoa voidaan siirtää kolmannelle osapuolelle. Kaikkien
                kumppanien kanssa on sopimuksissa huomioitu EU:n tietosuoja-asetuksen ja muun lainsäädännön asettamat
                vaatimukset.</p>
            <p>Tietojen käsittelystä vastuussa oleva yritys:<br><a href="http://www.verkkokauppa.com.fi"
                    rel="noopener noreferrer" target="_blank">Verkkokauppa Oy</a> (Y-tunnus: 7948492-1)<br>Tietokoneentie
                15<br>00686 Espoo<br>
            </p>

            <h2 id="kuinka-kauan-tietojani-sailytetaan">Kuinka kauan tietojani säilytetään?</h2>
            <p>Säilytämme henkilökohtaisia tietojasi vain tarvittavan ajan, jotta voimme täyttää tässä selosteessa kuvatut
                käyttötarkoitukset. Lisäksi joitain tietoja voidaan säilyttää kauemmin niiltä osin kuin se on tarpeen laissa
                asetettujen velvollisuuksien, kuten kirjanpitoa ja kuluttajakauppaa koskevien vastuiden, toteuttamiseksi ja
                niiden asianmukaisen toteuttamisen osoittamiseksi.</p>
            <p>Kun teet tilauksen noutopisteeseen myymälässä ilman asiakastiliä, tallennetaan antamasi tiedot Verkkokauppan
                järjestelmään, jotta voimme pitää sinut ajan tasalla tilauksestasi. Yhteystietosi poistetaan, kun tilaus on
                käsitelty.</p>
            <p>Asiakkaan pyynnöstä häntä koskeva henkilötieto voidaan poistaa tai anonymisoida Verkkokauppan järjestelmistä.
                Poisto ja anonymisointi-toimenpide on peruuttamaton, emmekä voi palauttaa poistettuja asiakastilejä.</p>
            <p>Osalle tietoa lainsäädäntö asettaa velvoitteita tiedon pidempiaikaiselle tallentamiselle, mm. seuraaviin
                tarkoituksiin:</p>
            <ul>
                <li>Kirjanpitolaki määrittelee tiedolle pidempiä säilytysaikoja riippumatta siitä sisältääkö aineisto
                    henkilötietoja tai ei</li>
                <li>Kuluttajakauppaa koskevien vastuiden täyttäminen</li>
                <li>Järjestelmien lokitietoa kerätään ja säilytetään lain edellyttämällä tavalla, jotta voimme tarjota
                    lainmukaisen ja turvallisen verkkokaupan asiakkaillemme</li>
                <li>Riittävien varmuuskopioiden ottaminen kaupan tietokannoista ja järjestelmistä tietojen turvaamiseksi,
                    virhetilanteiden korjaamiseksi ja tietoturvan sekä jatkuvuuden varmentamiseksi</li>
            </ul>

            <h2 id="millaisia-oikeuksia-minulla-on">Millaisia oikeuksia minulla on?</h2>
            <p>Asiakkaana sinulla on oikeus:</p>
            <ul>
                <li>Saada pääsy itseäsi koskeviin henkilötietoihin, mukaan lukien oikeus saada jäljennös sinua koskevista
                    henkilötiedoista</li>
                <li>Pyytää itseäsi koskevien henkilötietojen oikaisemista tai poistamista</li>
                <li>Tietyin edellytyksin pyytää käsittelyn rajoittamista tai vastustaa henkilötietojen käsittelyä</li>
            </ul>
            <p>Voit tehdä oikeuksiesi käyttämistä koskevan pyynnön ottamalla yhteyttä asiakaspalveluumme. Pyynnön tulee olla
                riittävällä tavalla yksilöity, jotta asiakaspalvelumme voi todentaa henkilöllisyytesi. Ilmoitamme sinulle,
                mikäli emme joiltain osin pysty toteuttamaan pyyntöäsi, kuten poistamaan kaikkia tietoja, joiden
                säilyttämiseen meillä on lakisääteinen velvollisuus (esimerkiksi luotonantotiedot) tai oikeus.</p>
            <p>Jos huomaat, että käsittelyssä on puutteita tai se on lainvastaista, sinulla on oikeus tehdä asiasta valitus
                <a href="http://www.tietosuoja.fi/fi/" rel="noopener noreferrer"
                    target="_blank">tietosuojaviranomaiselle</a>. </p>

            <h2 id="luovutetaanko-henkilotietojani-kolmansille-osapuolille">Luovutetaanko henkilötietojani kolmansille
                osapuolille?</h2>
            <p>Voimme luovuttaa joitakin välttämättömiä tietoja kolmansille osapuolille toimituksen takaamiseksi.</p>

            <p>Tarvittaessa luovutamme tietoja myös viranomaisille. Informoimme tietopyynnöistä aina myös asiakasta, jos se
                on lain puitteissa sallittua.</p>
            <p>Välitämme tietoja seuraaville kolmansille osapuolille:</p>
            <ul>
                <li>Kuljetusliikkeelle, jos valittu toimitustapa on kuljetus noutopisteeseen, lähimpään postiin tai perille
                    asti
                </li>
                <li>Maksunvälittäjälle maksukortilla maksaessa</li>
            </ul>
            <p>Verkkokauppa huolehtii tietoja siirrettäessä ja käsiteltäessä tietoturvan ja -suojan korkeasta tasosta EU:n
                tietosuoja-asetuksen mukaisesti. Kolmansien osapuolten tietojenkäsittelyn tason varmistuskeinoina ovat
                Euroopan komission hyväksymät mallisopimuslausekkeet, konsernia sitovat tietosuojasäännökset
                (BCR-järjestely), EU-US
                Privacy Shield -sopimus tai muu tietosuoja-asetuksen mukainen hyväksytty tapa.</p>
            <p>Asiakas voi rajata tietojen luovuttamista markkinointi- ja analytiikkatarkoituksiin.</p>

            <h2 id="kaytetaanko-kaupan-sivuilla-evasteita-ja-mita-ne-ovat">Käytetäänkö kaupan sivuilla evästeitä ja mitä ne
                ovat?</h2>
            <p>Verkkokauppa käyttää evästeitä (”cookies”) ja muita vastaavia tekniikoita, kuten selaimen paikallista
                varastoa (“local storage”). Evästeet ovat päätelaitteen selaimen ja palvelimen välisiä pieniä
                tekstitiedostoja. Evästeillä ja muilla tunnisteilla on määritetty voimassaoloaika, jonka jälkeen selain
                poistaa tunnisteen. Käytämme näitä tekniikoita toimintojen toteuttamiseen.</p>
            <p>Toiminnallisia evästeitä ja paikallista varastoa käytetään mm. asiakkaan tunnistamiseen, kirjautumisen
                ylläpitämiseen, toimitusaika-arvioihin ja ostoskorin toimintoihin. Näihin toimintoihin evästeiden ja
                paikallisen varaston käyttö ja niiden käytön hyväksyminen on pakollista. Palvelimen asettamat toiminnalliset
                evästeet ja paikallisen varaston muuttujat säilyvät selaimessa 15min-24kk, ellei niitä erikseen poisteta
                selaimen asetuksista. Sivustolla käynti asettaa evästeet ja paikallisen varaston muuttujat uudelleen
                selaimen sen salliessa.</p>

            <h2 id="voidaanko-tata-tietosuojaselostetta-muuttaa">Voidaanko tätä tietosuojaselostetta muuttaa?</h2>
            <p>Palveluiden kehityksen ja läinsäädännön muutosten johdosta pidätämme oikeuden muuttaa tietosuojaselostetta.
                Merkittävistä muutoksista tietosuojaselosteeseen ilmoitetaan rekisteröityneille asiakkaille ehtojen
                päivityksen yhteydessä.</p>

            <h2 id="mihin-voin-ottaa-yhteytta">Mihin voin ottaa yhteyttä?</h2>
            <p>Voit ottaa yhteyttä yksityisyyteen, tietojen käsittelyyn ja tietosuojaselosteeseen liittyvissä kysymyksissä
                sähköpostilla:<br><a href="mailto:tietosuoja@verkkokauppa.com.fi">tietosuoja@verkkokauppa.com.fi</a></p>
            <p>Muissa asioissa auttaa asiakaspalvelumme:<br><a
                    href="mailto:asiakaspalvelu@verkkokauppa.com.fi">asiakaspalvelu@verkkokauppa.com.fi</a></p>
        </section>
    </div>

<%- include('partials/footer.ejs') %>