<%- include('partials/header.ejs') %>


<% if (tuote) { %>
<div class="section p-0 mb-6">
    <div class="card is-horizontal">

        <div class="card-image">
            <figure class="image is-4by3">
                <img src="/uploads/<%= tuote.kuva %>" alt="<%= tuote.nimi %>">
            </figure>
        </div>

        <div class="card-content">
            <p class="title is-3"><%= tuote.nimi %></p>
            <div class="content">
                <%= tuote.lisätiedot %>
                <br><br>
                <p class="is-size-5">
                    Tuote luottu: <%= parseDate(tuote.createdAt) %>
                </p>
                <p class="is-size-5">
                    Tuote päivitetty: <%= parseDate(tuote.updatedAt) %>
                </p>
                <p class="is-size-5">
                    Varastossa: <% if (tuote.määrä < 10) { %> &lt;10 <% } else { %> &gt;=10 <% } %>
                </p>
                <br><br>
                <% if (tuote.hinta >= 100) { %>
                    <div class="hinta-tags mb-4">
                        <span class="tag is-link">Ilmainen lähetys</span>
                    </div>
                <% } %>
            </div>
            <p class="is-size-3 mb-3 has-text-centered">Hinta: <%= hinta(tuote.hinta) %>€</p>
            <a href="#">
                <button class="button is-primary is-size-4 is-fullwidth has-text-weight-bold">Lisää ostoskoriin</button>
            </a>
        </div>
    </div>
</div>
<% } else { %>
    <p>Tuote ei löydy!</p>
<% } %>

<%- include('partials/footer.ejs') %>